<!--The content below is only a placeholder and can be replaced.-->
<div class="">
  <mat-card class="row m-3">
    <mat-card-header>
      <mat-card-title>Gestão de sensores </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Pessoa">
          <app-sensor-pessoa></app-sensor-pessoa
        ></mat-tab>
        <mat-tab label="Atmosfera">
          <app-sensor-atmosfera></app-sensor-atmosfera>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

<router-outlet></router-outlet>
