<div>
  <form [formGroup]="formularioPesquisa" class="m-3">
    <div class="row">
      <mat-form-field class="col">
        <input matInput placeholder="id do registo" formControlName="idRegisto" />
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="id do sensor" formControlName="idSensor" />
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="id do recinto" formControlName="idRecinto" />
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="temperatura" formControlName="temperatura" />
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="Co2" formControlName="co2" />
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="humidade" formControlName="humidade" />
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="pluviosidade" formControlName="pluviosidade" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="dataHoraInic"
          placeholder="data/hora inicial" />
        <owl-date-time #dt1></owl-date-time>
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="dataHoraFim"
          placeholder="data/hora final" />
        <owl-date-time #dt2></owl-date-time>
      </mat-form-field>
    </div>
    <button mat-raised-button class="btn btn-primary active" (click)="submit()" [disabled]="!formularioPesquisa.valid">
      pesquisar
    </button>
  </form>

  <mat-divider></mat-divider>

  <div class="row w-100 m-3">
    <form [formGroup]="formularioEdicao" class="col w-50">
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="id do sensor" formControlName="idSensor" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="id do recinto" formControlName="idRecinto" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="temperatura" formControlName="temperatura" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="co2" formControlName="co2" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="humidade" formControlName="humidade" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="pluviosidade" formControlName="pluviosidade" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" formControlName="dataHora"
            placeholder="data/hora do registo" />
          <owl-date-time #dt3></owl-date-time>
        </mat-form-field>
      </div>

      <button mat-raised-button class="btn btn-primary active m-3" (click)="guardarSensor()"
        [disabled]="!formularioEdicao.valid">
        {{ linhaSelecionada === -1 ? 'Criar' : 'Alterar' }}
      </button>
      <button mat-raised-button class="btn btn-danger active m-3" (click)=eliminarLinha()
        [disabled]="linhaSelecionada === -1">
        Eliminar
      </button>
    </form>

    <ng-container *ngIf="listaSensores.length > 0" class="col">
      <table mat-table [dataSource]="listaSensores" class="mat-elevation-z8 w-50 my-5">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let sensor">
            {{ sensor.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SensorId">
          <th mat-header-cell *matHeaderCellDef>id Sensor</th>
          <td mat-cell *matCellDef="let sensor">
            {{ sensor.SensorId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="RecintoId">
          <th mat-header-cell *matHeaderCellDef>id Recinto</th>
          <td mat-cell *matCellDef="let sensor">{{ sensor.RecintoId }}</td>
        </ng-container>

        <ng-container matColumnDef="Data_Hora">
          <th mat-header-cell *matHeaderCellDef>Data Hora</th>
          <td mat-cell *matCellDef="let sensor">{{ sensor.Data_Hora }}</td>
        </ng-container>

        <ng-container matColumnDef="Temperatura">
          <th mat-header-cell *matHeaderCellDef>Temperatura</th>
          <td mat-cell *matCellDef="let sensor">{{ sensor.Temperatura }}</td>
        </ng-container>

        <ng-container matColumnDef="Co2">
          <th mat-header-cell *matHeaderCellDef>Co2</th>
          <td mat-cell *matCellDef="let sensor">{{ sensor.Co2 }}</td>
        </ng-container>

        <ng-container matColumnDef="Humidade">
          <th mat-header-cell *matHeaderCellDef>Humidade</th>
          <td mat-cell *matCellDef="let sensor">{{ sensor.Humidade }}</td>
        </ng-container>

        <ng-container matColumnDef="Pluviosidade">
          <th mat-header-cell *matHeaderCellDef>Pluviosidade</th>
          <td mat-cell *matCellDef="let sensor">{{ sensor.Pluviosidade }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nomeColunas"></tr>
        <tr mat-row *matRowDef="let row; columns: nomeColunas" [ngClass]="{ 'highlight ': linhaSelecionada == row.id }"
          (click)="editarLinha(row)"></tr>
      </table>
    </ng-container>
  </div>
</div>
